@import "source/scss/nullstyle.scss";
@import "source/scss/mixin.scss";
@import "source/scss/fonts.scss";



.wrapper {
	min-height: 100%;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
}
.wrapper._loaded {
	opacity: 1;
}
.wrapper._loaded .header {
	transition: transform 0.8s ease 0.8s;
	transform: translate(0px, 0px);
}
.wrapper._loaded .page__pagination {
	transform: translate(0px, -50%);
	opacity: 1;
	visibility: visible;
	transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination {
	transition: all 0.3s ease 0s;
	transform: translate(50px, -50%);
	opacity: 0;
}
/*----------------*/
.header {
    position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 40px 0px 0px 0px;

	transform: translate(0px, -100%);

    @media (max-width:1440px) {
        padding: 10px;
    }
}
.container {
    width: 1440px;
    margin: 0 auto;

    @media (max-width:1520px) {
        width: 100%;
        padding: 0 40px;
    }
    @include tablet {
        padding: 0 15px;
    }
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 3.5vw;
    padding: 14px 0;
    width: 100%;
}
.header__logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.header__user {
    display: flex;
    align-items: center;
}
.user__search {
    max-width: 24px;
    width: 100%;
    margin-right: 30px;
    transform: translateY(3px);

    @include mobile {
        max-width: 2.667vw;
        margin-right: 15px;
    }
}
.user__search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s linear;
}
.user__search._active {
    position: relative;
    z-index: 1;
    transition: all .4s linear;
}
.btn {
    position: relative;
    display: inline-block;
    top: 0;
    background: #00C9E0;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    border-radius: 48px;
    padding: 16px 58px;

    font-family: "Larsseit";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        top: 50%;
        right: -15px;
        background: #FFFFFF;
        border-radius: 16px;
        transition: all .4s linear;
        
        @include mobile {
            width: 15px;
            height: 1px;
            right: -7.5px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        top: 50%;
        right: -15px;
        background: #FFFFFF;
        border-radius: 16px;
        transition: all .4s linear;

         
        @include mobile {
            width: 15px;
            height: 1px;
            right: -7.5px;
        }
    }

    transition: all .4s linear;
}
.user__button {

    @media (max-width:1440px) {
        padding: 10px 50px;
    }

    @include mobile {
        padding: 5px 30px;
        font-size: 14px;
        line-height: normal;
    }
}
.user__button:hover {
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 90%, #011627 100%);
    transition: all .4s linear;
}
.user__button._active {
    position: relative;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 0;
    z-index: 1;
    transition: all .4s linear;
    background-color: transparent;
    border: 1px solid #fff;
    overflow: hidden;

    box-shadow: 4px 4px 30px rgba(0, 201, 224, 0.2);

    @media (max-width:1440px) {
        width: 40px;
        height: 40px;
    }

    @include mobile {
        width: 30px;
        height: 30px;
    }

    &:after {
        position: absolute;
        transition: all .4s linear;
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        left: 50%;
    }
    &:before {
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        left: 50%;
        transition: all .4s linear;
    }
}
.screen__content._gradient {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15.625vw;
	position: relative;
	z-index: 2;
    height: 100%;

    @include tablet {
        padding-top: 10vw;
    }

    &:after {
        z-index: -1;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #01162700 0%, rgba(1, 22, 39, .85) 76%, rgb(1, 22, 39, 1) 100%);
    }
}

.screen__socials-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1; 
}
.screen__social img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.screen__social {
    max-width: 24px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    transition: all .4s linear;

    @media (max-width:1440px) {
        margin-bottom: 10px;   
    }
    @include mobile {
        max-width: 20px;
    }
}
.screen__social:hover {
    transform: scale(1.2);
    overflow: hidden;
    transition: all .4s linear;
    filter: drop-shadow(0 0 4px rgba(0, 202, 224, .85));
}
.screen__scroll {
    position: relative;
    font-family: "Larsseit";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 190%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: .9;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;

    @include mobile {
        font-size: 12px;
    }


    &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 80px;
        left: 50%;
        bottom: 115%;
        background: linear-gradient(180deg, #09F4F4 0%, rgb(0, 202, 224) 100%);
        border-radius: 13px;

        @media (max-width:1440px) {
            height: 35px;   
        }
    }
}

// ------------------------------ HEADER MENU FIXED
.header__menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;

    font-family: "Larsseit";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.1em;
    color: #FFFFFF;

    transition: all .6s linear;
    padding: 40px 0 0 0;

    @media (max-width:1440px) {
        padding: 10px;
    }
}
.header__menu._active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all .6s linear;
}
.menu__link {
	color: #fff;
	font-size: 16px;
	transition: color 0.3s ease 0s;
	margin: 0px 20px 0px 0px;
}
.menu__link._active {
	filter: drop-shadow(0 0 4px rgba(255, 255, 255, .85));
}
@media (max-width: 767px) {
	.menu__link {
		margin: 0px 10px 0px 0px;
	}
}
/*----------------*/
// STARS --------------------------
.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #FFF;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, .50));
    z-index: 33;
    animation: fall 1.6s linear;
    animation-iteration-count: infinite;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 150px;
        height: 1px;
        background: linear-gradient(90deg, #fff, transparent);
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, .50));
    }
}
.star._one {
    animation-delay: 1.2s;
    animation-duration: 2.4s;
    top: -10px;
    right: 20%;
}
.star._two {
    animation-delay: 1.5s;
    animation-duration: 1.6s;
    top: -10px;
    right: 10%;
}
.star._tree {
    animation-delay: 1.9s;
    animation-duration: 2s;
    top: -10px;
    right: 30%;
}
@keyframes fall {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-400px);
        opacity: 0;
    }
}
// END STARS ----------------------
.page {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.page__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.page__screen {
   
}

// .page__pagination {
// 	position: absolute;
// 	top: 50%;
// 	right: 50px;
// 	transform: translate(50px, -50%);
// 	opacity: 0;
// 	visibility: hidden;
// 	display: flex;
// 	flex-direction: column;
// }
// .page__bullet {
// 	width: 15px;
// 	height: 15px;
// 	cursor: pointer;
// 	background-color: rgba(0, 201, 224, 0.5);
// 	margin: 10px 0;
// 	border-radius: 50%;
// 	transition: background-color 0.3s ease 0s;
// }
// .page__bullet_active {
// 	background-color: #fff;
// }
.page__scroll {
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.page__drag-scroll {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

/*----------------*/
.screen {
	flex: 1 0 100%;
	position: relative;
}
.screen__title {
	font-family: "NoeDisplay";
    font-weight: 700;
    font-size: 6.250vw;
    line-height: 7.969vw;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width:1440px) {
        font-size: 7.722vw;
        line-height: 120%;
    }

    @include tablet {
        font-size: 7.22vw;
        margin-bottom: 5px;
    }
}
.screen__sub-title {
    font-family: "Larsseit";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 2.604vw;
    text-align: center;

    @media (max-width:1440px) {
        font-size: 16px;
        margin-bottom: 20px;
    }

}
.screen__text {
    max-width: 643px;
    width: 100%;
    font-family: "Larsseit";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 150px;

    @media (max-width:1440px) {
        font-size: 14px;
        margin-bottom: 50px;
    }

    @include mobile {
        max-width: 500px;
        font-size: 2vw;
    }
}
.screen__body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.screen__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.screen__image img {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


// ----------------------------------- SLIDER
.screen__content._lights {
    background: url(img/bg__lights.png) center / cover no-repeat, #011627;
    height: 100%;
    display: flex;
    align-items: center;
}
.screen__slider {
    position: relative;

}

// --------------SLIDE
.slide {
    display: flex;
    align-items: center; 
}
.slide__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide__img {
    position: relative;
    max-width: 485px;
    width: 100%;
    padding: 0 0 0 90px;
    margin-right: 6.333vw;

    @media (min-width:1441px) {
        margin-right: 120px;
        padding-left: 90px;
    }
    @media (max-width:1440px) {
        max-width: 350px;
        padding-left: 50px;
    }

}
.slide__abs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide__abs-img {
    position: absolute;
    max-width: 230px;
    width: 100%;
    bottom: -55px;
    left: 36px;
    z-index: -1;

    @media (max-width:1440px) {
        max-width: 166px;
        left: 10px;
        bottom: -40px;
    }
}
.slide__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide__title {
    font-family: "Noe Display";
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 35px;

    @media (max-width:1440px) {
        font-size: 4vw;
    }
}
.slide__text {
    max-width: 485px;
    width: 100%;
    font-family: 'Larsseit';
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: .2px;
    color: #FFFFFF;

    @media (max-width:1440px) {
        font-size: 14px;
    }
}
.slide__paragraph {
    margin-bottom: 20px;
}
.slide__paragraph:last-child {
    margin-bottom: 50px;
}
.slide__descr {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-45%);
    font-family: 'Larsseit';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    padding-top: 15px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        border-top: 2px solid #41EAD4;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        
        border-left: 2px solid #41EAD4;
    }

    @media (max-width:1440px) {
        font-size: 16px;
    }
}
.slide__descr-light-blue {
    font-family: 'Larsseit';
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #41EAD4;

    @media (max-width:1440px) {
        font-size: 16px;
    }
}
.slide__button {
    transition: all .4s linear;
    @include tablet {
        padding: 10px 20px;
    }
}
.slide__button:hover {
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 90%, #011627 100%);
    transition: all .4s linear;
}
.slide__socials {
    position: absolute;
    right: 0;
    bottom: 0;

}
.socials__title {
    font-family: 'Larsseit';
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.socials__icons {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 15px 20px 0;
    border-bottom: 2px solid #41EAD4;

    @include tablet {
        padding: 10px 10px 10px 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 50%;   
        border-right: 2px solid #41EAD4;
    }
}
.socials__icon{
    position: relative;
    max-width: 24px;
    width: 100%;
    transition: all .4s linear;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
    }
}
.socials__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.socials__icon:not(:last-child) {
    margin-right: 40px;

    @include tablet {
        margin-right: 15px;
    }
}
.socials__icon:hover {
    transform: scale(1.2);
    overflow: hidden;
    transition: all .4s linear;
    filter: drop-shadow(0 0 4px rgba(0, 202, 224, .85));
}
// -------------SLIDER

.screen__content._lights .swiper-wrapper {
    display: flex;
    padding: 50px 0;
}
.screen__content._lights .swiper {
    position: relative;
    padding: 100px 0 0 0;
}
.screen__content._lights .swiper-pagination {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 40px;
    left: 0;

    @media (max-width:1440px) {
        top: 90px;
    }
}
.screen__content._lights .swiper-pagination > .swiper-pagination-bullet {
    width: 25%;
    height: auto;
    background: transparent;
    opacity: 0.3;
    border-radius: 13px; 
    margin: 0 !important;

    font-family: 'Larsseit';
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #41EAD4;
    padding-bottom: 20px;
    border-bottom: 2px solid #41EAD4;
    border-radius: 0;
    transition: opacity .6s linear;
}
.screen__content._lights .swiper-pagination > .swiper-pagination-bullet-active {
    background: transparent;
    width: 25%;
    height: auto;
    opacity: 1;
    color: #41EAD4;
    transition: opacity .6s linear;
}

// ABOUT US----------------------------//

.screen__content._about-us {
    display: flex;
    align-items: center;
    height: 100%;
    background: url(img/bg__lights.png) bottom / cover no-repeat, #011627;
}
.screen__about-us {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;

    padding-top: 100px;
}
.about-us__text-box {
    max-width: 321px;
    width: 100%;

    @media (max-width: 1440px){
        margin-right: 30px;
    }
}
h3 {
    font-family: 'Noe Display';
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 25px;

    @media (max-width:1440px) {
        font-size: 3.5vw;
    }
}
.about-us__text {
    font-family: 'Larsseit';
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    @media (max-width:1440px) {
        font-size: 14px;
    }
}
.about-us__paragraph:first-child, .about-us__paragraph:last-child {
    font-weight: 700;
}
.about-us__paragraph:not(:last-child) {
    margin-bottom: 20px;
}
.about-us__paragraph:last-child {
    margin-bottom: 40px;
}
.about-us__gallery {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    position: relative;
    padding-right: 70px;

    @media (max-width:1440px) {
        padding-right: 4.861vw;
    }
}
.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item {
    position: relative;
    max-width: 450px;
    width: 100%;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top left, rgba(1, 22, 39, .5));
    }

    @media (max-width:1440px) {
        max-width: 350px;
    }
}
.gallery__item:hover {
    &:after {
        content: 'View Profile';
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        font-family: 'Noe Display';
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
        text-align: center;
        color: #011627;
        padding: 20px 280px 0 20px;
    }
}
.about-us__button {
    padding: 19px 48px;
}
.about-us__button:hover {
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 90%, #011627 100%);
    transition: all .4s linear;
}
.gallery__item-abs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item-abs {
    position: absolute;
    max-width: 70px;
    width: 100%;

    right: -5px;
    top: 50%;
    transform:translateY(-50%);

    @media (max-width:1440px) {
        max-width: 4.2vw;
        width: 100%;
        right: 0.347vw;
    }
}
// --------------- THOUGHTS

.screen__content._thoughts {
    background: #011627;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 1440px) {
        padding-top: 70px;
    }
}
.thoughts {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 600px);
    gap: 25px;

    @media (max-width: 1440px) {
        grid-template: repeat(2, auto) / repeat(2, 570px);
        gap: 15px;
        padding: 0 15px;
    }

    @include tablet {
        grid-template: repeat(2, auto) / repeat(2, auto);
        gap: 10px;  
    }
}
.thoughts__card {
    position: relative;
    background: #02223B;
    box-shadow: 0px 20px 30px rgba(0, 201, 224, 0.03);
    border-radius: 5px;
    padding: 75px 75px 75px 100px;

    @media (max-width: 1440px) {
        padding: 15px 25px 15px 50px;
    }
    @include tablet {
        padding: 10px;
    }
}
.thoughts__card img, .thoughts__abs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thoughts__abs-img {
    position: absolute;
    left: 50px;
    width: 32px;
    height: 25px;

    @media (max-width: 1440px) {
        left: 10px;
        width: 27px;
        height: 21px;
    }
    @include tablet {
        left: unset;
        right: 10px;
        bottom: 20px;  
    }
}
.thoughts__paragraph {
    font-family: 'Larsseit';
    font-weight: 300;
    font-size: 18px;
    line-height: 190%;
    color: #FFFFFF;

    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @include tablet {
        font-size: 12px;
    }
}
.thoughts__paragraph:nth-child(1) {
    font-weight: 700;
    margin-bottom: 10px;

    @media (max-width: 1440px) {
        margin-bottom: 5px;
    }
}
.thoughts__paragraph:nth-child(2) {
    margin-bottom: 25px;

    @media (max-width: 1440px) {
        margin-bottom: 15px;
    }

    @include tablet {
        margin-bottom: 5px;
    }
}
.thoughts__img {
    max-width: 80px;
    width: 100%;

    @include tablet {
        max-width: 60px;
    }
}
.thoughts__name {
    font-family: 'Larsseit';
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 10px;
}
.thoughts__writer {
    display: flex;
    align-items: center;
}